@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-animated';

@theme {
	--font-space-grotesk: 'Space Grotesk', sans-serif;
	--font-work-sans: 'Work Sans', sans-serif;
	--font-eczar: 'Eczar', sans-serif;
	--color-primary: #011e44;
	--color-primary-text: #9ec0ff99;
	--color-faded-white: #ffffffcc;

	@keyframes dominoFall {
		from {
			opacity: 0;
			transform: translateX(-15px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes fadeInDown {
		from {
			opacity: 0;
			transform: translateY(-15px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.animate-fadeInDown {
	animation: fadeInDown 0.8s ease-out forwards;
}
